*.db
*.in
*.ut
*.o
*.exe
*.out


*.asv
*.gch
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
/snek/compile_commands.json
/mines/mines
snek/snek
compile_commands.json
/statusy/statusy
